.produtos {
    display: flex;
    justify-content: space-around;
    background-color: #ff53a9;
    width: 100%;
    padding: 20px;
    align-items: center;
    text-align: center;
    max-width: 100vw;
}

.video {
   margin: 10px;
}

.produto {
    background-color: rgb(255, 255, 255, 0.5);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
 
}

.produto img {
    border-radius: 10px;
    max-width: 20vw;
}

.descricao{
    font-size: 1.5rem;
    color: white;
    margin: auto;
    width: 100%;
    height: 100%;

}

.container-produtos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: white;
}


@media screen and (max-width: 768px) {
    .produtos {
        flex-direction: column;
        align-items: center;
    }

    .produto img {
        max-width: 80vw;
    }

    .produto {
        width: 80%;

    }
    
}
