.produtos {
    display: flex;
    justify-content: space-around;
    background-color: #d63384;
    width: 100%;
    padding: 20px;
    align-items: center;
    text-align: center;
}

.video {
   margin: 10px;
}

.produto {
    background-color: rgb(255, 255, 255, 0.5);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.produto img {
    width: 350px;
    border-radius: 10px;
}

.container-produtos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: white;
}


@media screen and (max-width: 768px) {
    .produtos {
        flex-direction: column;
        align-items: center;
    }

    .produto {
        width: 80%;
    }
    
}
