.event-info-container {
  width: 100%;
  padding: 50px;
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.event-title {
  font-size: 36px;
  font-weight: bold;
  color: #ffd700;
  text-align: center;
  margin-bottom: 20px;
}

.event-subtitle {
  font-size: 20px;
  text-align: center;
  margin-bottom: 40px;
}

.event-bonus-text {
  font-size: 16px;
  text-align: center;
  margin-bottom: 40px;
  color: #c68642; 
}

.event-benefits {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 1200px;
  margin-top: 40px;
}

.benefits-left,
.benefits-right {
  width: 48%;
}

.benefits-left ul,
.benefits-right ul {
  list-style: none;
  padding: 0;
}

.benefits-left li,
.benefits-right li {
  font-size: 24px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
 
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.benefits-left li img,
.benefits-right li img {
  margin-right: 10px;
  width: 24px;
  height: 24px;
}



@media (max-width: 1200px) {
  .event-info-container {
    padding: 20px;
  }

  .event-title {
    font-size: 28px;
  }

  .event-subtitle,
  .event-bonus-text {
    font-size: 18px;
    text-align: left; 
  }

  .event-benefits {
    flex-direction: column;
    align-items: center; 
    width: 100%;
    justify-content: center; 
  }

  .benefits-left,
  .benefits-right {
    width: 100%;
    max-width: 600px; 
    margin-bottom: 20px; 
  }

  .benefits-left ul,
  .benefits-right ul {
    width: 100%;
    padding: 0;
  }

  .benefits-left li,
  .benefits-right li {
    width: 100%;
    font-size: 20px;
    display: flex;
    align-items: center; 
    justify-content: flex-start; 
    text-align: left; 
    padding-left: 20px; 
    margin-bottom: 10px; 
  }

  .benefits-left li img,
  .benefits-right li img {
    width: 20px;
    height: 20px;
    margin-right: 10px; 
  }
}

@media (max-width: 768px) {
  .event-title {
    font-size: 24px;
  }

  .event-subtitle,
  .event-bonus-text {
    font-size: 16px;
    text-align: left; 
  }

  .benefits-left,
  .benefits-right {
    width: 100%;
    max-width: 100%;
  }

  .benefits-left li,
  .benefits-right li {
    font-size: 16px;
    width: 100%;
    display: flex;
    align-items: center; 
    justify-content: flex-start; 
    padding-left: 20px; 
  
    margin-bottom: 10px; 
  }

  .benefits-left li img,
  .benefits-right li img {
    width: 16px;
    height: 16px;
    margin-right: 10px;
  }
}
