.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-title {
    font-size: 3rem;
    color: white;
    font-weight: 700;
    text-align:end;
    position: absolute;
    width: 80%;
}


.hero-image {
    width: 100vw
}

.bg-image {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;

}

@media (max-width: 768px) {

    .hero {
        flex-direction: column-reverse;
        align-items: center;
    }
 
    .bg-image {
        position: fixed;
        top: 0;
        width: unset;
        height: 100vh;
        z-index: -1;
    }

    .img-content {
        display: none;
    }

    .text-content {
        padding-right: 0;
    }

    .hero-image {
        width: 100vw;
    }

    .hero-title {
        font-size: 2rem;
        color: black;
        font-weight: 700;
        position: unset;
        text-align: center;

    }
}