.event-details-container {
  padding: 40px;
  background-color: #000;
  color: #fff;
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wave {
  width: 100%;
  
}
.event-details-title {
  font-size: 36px;
  font-weight: bold;
  margin-top: 20px;
   margin-bottom: 40px;
}

.event-details-content {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.details-left,
.details-right {
  width: 45%;
}

.detail-item {
 margin-bottom: 20px;
  text-align: left; 
}

.detail-title {
  font-size: 30px;
  font-weight: bold;
  color: #ffd700;
  margin-bottom: 10px;
  width: 100%; 
}

.detail-text {
  font-size: 18px;

  width: 100%; 
}


@media (max-width: 1200px) {
  .event-details-container {
    height: auto; 
}
  .event-details-content {
    flex-direction: column;
    align-items: center;
 
  }

  .event-details-title {
    font-size: 24px;

  }

  .detail-title {
    font-size: 18px;
  }

  .detail-text {
    font-size: 14px; 
  }

  .details-left,
  .details-right {
    width: 100%; 
    min-height: auto; 
    margin-bottom: 20px; 
  }

  .detail-item {
    margin-bottom: 20px;
    width: 100%; 
  }
}

@media (max-width: 768px) {
  .event-details-container {
    padding: 20px;
  }

  .event-details-title {
    width: 90%;
    font-size: 22px;
    margin-bottom: 20px;
  }

  

  .details-left,
  .details-right {
    width: 100%;
  }

  .detail-title {
    font-size: 16px;
    margin-bottom: 8px;
  }

  .detail-text {
    font-size: 12px;
  }

  .detail-item {
    margin-bottom: 15px;
    width: 100%;
  }
}
