section {
  background-color: #fff;
  width: 100%;
}

.footer {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;

}


.siteLinks,
.logo {
  display: flex;
  flex-direction: column;
}

.socialMedia img {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.logo img {
  width: 200px;
}


.Links ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.Links a {
  text-decoration: none;
  color: #7e7e7e;
  font-size: 15px;
}

.Links li :hover {
  color: #daa520;
}

.copy {
  text-align: center;
  margin: 20px auto;

}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;

  }

  .logo img {
    display: none;
  
  }


  .socialMedia {
  margin: 0 auto;
}

.Links  {
  margin: 0 auto;
  margin-bottom: 10px;
}

}