.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: white;
    padding: 60px;
}

.imageContainer {
    flex: 1;
}

.image {
    width: 100%;
    height: 100%;
}

.textContainer {
    flex: 1;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    font-size: 3rem;
}

.description {
    font-size: 1.125rem;
    color: rgb(29, 30, 33);
    font-weight: 500;
    text-align: justify;
    width: 80%;
    line-height: 1.5;
    align-self: center;
}

@media screen and (max-width: 768px){
    .container {
        flex-direction: column;
        padding: 20px;
        flex-direction: column-reverse;
    }

    .textContainer {
        padding: 0px;
    }

    .title {
        font-size: 2rem;
    }

    .description {
        text-align: start;
    }
    
}



