.contato {
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align:left;
    background-color: transparent;
    width: 100%;
    height: 100vh;
    font-weight: 700;
    
}

.titulo-cta{
    font-size: 2rem;
    color: #fff;
    margin-bottom: 20px;
    border-radius: 5px;
}

.call {
    font-size: 1.5rem;
    color: white;
    border-radius: 5px;
    text-align: justify;
    margin-bottom: 30px;

}


.cta-content {
    max-width: 700px;
    margin: auto 54px;
}

.cta h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #343a40;
}

.cta p {
    font-size: 1.2em;
    margin-bottom: 30px;
    color: #6c757d;
}

.cta-button {
    display: inline-flex;
    align-items: center;
    background-color: #25d366;
    color: #fff;
    padding: 15px 30px;
    font-size: 2em;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-bottom: 15px;
}

.whatsapp-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.cta-button:hover {
    background-color: #fff;
    color: #25d366;
}

.contact-info {
    font-size: 2rem;
    color: #fff;
}

@media screen and (max-width: 768px){
    
    .cta-content {
        margin: auto 20px;
    }

    .cta h2 {
        font-size: 2em;
    }

    .cta p {
        font-size: 1em;
    }

    .cta-button {
        font-size: 1.5em;
    }

    .contact-info {
        font-size: 1.5rem;
    }
    
}




