.clientes {
    text-align: center;
    background-color: white;
    width: 100%;
    padding-bottom:  50px;
}

.titulo-clientes {
    font-size: 2rem;
    color: black;
    margin-bottom: 20px;
}

.lista-clientes {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.caixa-clientes {
    flex: 1;
    text-align: center;
    padding: 20px;
    width: 100%;

}

.caixa-clientes img {
    width: 400px;
    height: 400px;
    margin-bottom: 10px;
}



@media (max-width: 768px) {
    .lista-clientes {
        flex-direction: column;
        align-items: center;
    }

    .caixa-clientes {
        margin-bottom: 20px;
    }
}